.w-1400 {
    width: 1400px !important;
}
@import url("https://fonts.googleapis.com/css2?family=LineAwesome:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

$label-gray: #919eab;
$bg-hover: rgba(145, 158, 171, 0.08);
$border-color: #e9ecee;
$h-header: 89px;
$w-lefNav: 240px;
$h-m-header: 144px;
$b-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 1;

body {
    margin: 0;
    line-height: normal;
    font-family: "Be Vietnam Pro", "Helvetica Neue", Helvetica, Arial !important;
}
:root {
    /* fonts */
    --font-nunito-sans: "Nunito Sans";
    --font-lineawesome: LineAwesome;
    --font-inter: Inter;
    --font-dm-sans: "DM Sans";

    /* font sizes */
    --font-size-xl: 20px;
    --font-size-base: 16px;
    --font-size-3xl: 22px;
    --font-size-lg: 18px;
    --font-size-sm: 14px;
    --font-size-xs: 12px;
    --font-size-9xl: 28px;

    /* Colors */
    --theme-colors-white: #fff;
    --color-royalblue-100: #4880ff;
    --color-royalblue-200: #4c61cc;
    --color-darkslategray-100: #404040;
    --color-darkslateblue-100: #3749a6;
    --color-gray-100: #202224;
    --gray-900: #161c24;
    --color-gray-200: rgba(32, 34, 36, 0.5);
    --color-gray-300: rgba(0, 0, 0, 0.4);
    --color-lavender: rgba(226, 234, 248, 0.7);
    --color-coral: #ff8743;
    --color-dimgray-100: #646464;
    --color-dimgray-200: #565656;
    --color-ghostwhite: #f5f6fa;
    --color-lightgray: #d5d5d5;
    --gray-200: #f4f6f8;
    --theme-colors-primary: #624bff;
    --gray-600: #637381;

    /* Gaps */
    --gap-base: 16px;
    --gap-xl: 20px;
    --gap-11xl: 30px;
    --gap-5xl: 24px;
    --gap-5xs: 8px;
    --gap-10xs-4: 2.4px;
    --gap-7xl-5: 26.5px;
    --gap-10xs: 3px;
    --gap-2xs-9: 10.9px;
    --gap-sm-5: 13.5px;

    /* Paddings */
    --padding-5xl: 24px;
    --padding-xl: 20px;
    --padding-smi: 13px;
    --padding-21xl: 40px;
    --padding-xs: 12px;
    --padding-10xs: 3px;
    --padding-sm: 14px;
    --padding-5xs: 8px;
    --padding-12xs: 1px;
    --padding-11xl: 30px;
    --padding-4xl: 23px;
    --padding-base: 16px;
    --padding-8xs: 5px;
    --padding-11xs: 2px;
    --padding-46xl: 65px;
    --padding-12xl: 31px;
    --padding-7xs: 6px;
    --padding-4xs: 9px;
    --padding-3xs-7: 9.7px;
    --padding-7xs-1: 5.1px;
    --padding-3xs: 10px;
    --padding-base-5: 16.5px;

    /* Border radiuses */
    --br-7xs: 6px;
    --br-9xs: 4px;
    --br-xs: 12px;
    --br-sm: 14px;
    --br-2xs: 11px;
    --br-lgi: 19px;
    --br-5xs: 8px;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block !important;
}

.b-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.b-shadow-light {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.container {
    width: 1200px;
}

.wrapMainDash {
    margin: 0px 70px 60px 70px;
}

.titleMainDash {
    margin: 0px 0px 26px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
    font-size: 24px;
}

.h-22 {
    height: 88px !important;
}

a {
    text-decoration: none !important;
}

.css-tj5bde-Svg {
    position: relative !important;
    right: 1px;
    top: 4%;
}

.css-1im77uy-control {
    height: 100% !important;
    border-radius: 8px !important;
}

.css-b62m3t-container,
.css-gymzdq-control {
    height: 100% !important;
    border-radius: 8px !important;
}

.formGroup {
    border-radius: 8px;
    padding: 24px;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
        rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
}

.z-header {
    z-index: 5;
}

.mt-header {
    margin-top: $h-header;
}
.pt-header {
    padding-top: $h-m-header;
}

.boxShadow {
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
        rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
}

.des-line-3 {
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

d-none {
    display: none;
}

.css-s2gg24-control {
    height: 58px !important;
}

.field-disable {
    user-select: none;

    input {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.List_contentItem__EdrE8 svg {
    right: 0px !important;
}

.btnModal {
    padding: 6px 10px;
    border-radius: 8px;
    margin: 4px 10px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #ccc;
    color: black;
}

.btnModal.delete {
    color: white;
    background-color: #ff5630;
}
.css-s2gg24-control {
    height: 54px !important;
    border-radius: 8px;
}

ul {
    padding-left: 0;
}

.overlay {
    background-color: rgba(22, 28, 36, 0.8);
}

.disabled {
    display: none !important;
}
